body {
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    h1{
        font-size: 36px;
        color: white;
        text-align: center;
    }
    h1 { text-decoration: underline;}
    h2 { text-decoration: underline;}
    h1 { text-decoration: underline;}
    main > img {
        height: 400px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
   
  #sec1{
      background-color: black;
      
  }
  #facts-section{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;

}
    #quotes-section{
        background-color: black;
        color: white;
        font-size: 20px;
        border-color: gray;
        text-align: center;
        font-style: italic;
        
    }

    #links-section{
        background-color: black;
        color: white;
        font-size: 20px;
        border-color: gray;
        text-align: center;
        
    }



