* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}


aside{
  position: fixed;
border-right-color: rgba(0, 173, 238, 0.4);
border-right-style: solid;
width: 200px;
border-right-width: 1px;
height: 100vh;
padding-left: 20px;
padding-right: 20px;
}
aside > img{
  height: 120px;
  width: 120px;
  display: block;
  margin: 0 auto;
}

ul{
  margin:0;
  padding: 0;
}
main {
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;

}


aside > nav > ul > li{
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom-color:rgba(0, 173, 238, 0.4);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 10px auto;
  padding-bottom: 10px;
  width: 80%;
  line-height: 2;
  font-weight: 700;
}

aside > nav > ul > li > a{
  color: #00ADEE;
  text-decoration: none;
  font-weight: 700;
}
a :hover {
  text-decoration: underline;
  
}
header{
  height: 120px;
}
header > img{
  height: 100px;
  width:auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
}


img.banner{
  display: block;
  width: auto;
}
main{
  margin-left: 200px;
  padding-left: 20px;
  
}
main > section > div{
  display: inline-block;
}
section > div > h2{
color: #8cc36F;

}
section > h2 > i {
  margin-right: 10px;
}


div:first-child {
  vertical-align: top;
  width: 33%;
  padding-right: 20px;
  margin-top: 20px;
  padding-left: 20px;
}
div:last-child {
  width: 33%;
  padding-right: 20px;
  margin-top: 20px;
  padding-left: 20px;
}

div:not(:first-child):not(:last-child) {

  width: 33%;
  padding-right: 20px;
  margin-top: 20px;
  border-right: 1px solid rgb(170, 239, 135, 0.8);
  padding-left: 20px;
}

